html{
    box-sizing: border-box;

}

*, *:before, *:after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, serif, 
}

header{
    padding: 20px 0;
}

div.contenedor{
    width: 1300px;
    margin: 0 auto;
}

.navegacion{
    background-color: #db008d;
}

nav{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

nav ul{
        list-style: none;
}

nav > ul > li{
    float: left;    
}

nav ul::after{
    content: '';
    display: block;
    clear: both;
}

nav ul li a{
    display: inline-block;
    width: 200px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

nav ul li a:hover{
    background-color: #00b8e4;
}

/* Segundo nivel */

nav ul ul{
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7);
    display: none;    
}

nav ul li:hover >ul{
    display: block;

}

nav ul li:hover{
    background-color: rgba(0, 184, 228, 1);

}

/* Contenido Principal*/
div.contenido::after{
    content: '';
    display: block;
    clear: both;

    
}

main{
    width: 70%;
    float: left;
    padding-right: 40px;

}

aside{
   
    margin-top: 30px;
    float: right;
    width: 30%;
}

article{
    margin-top: 30px;
    
    min-height: 300px;

   
}

article p{
    line-height: 2;
    text-align: justify;
}

h2{
    color: #00b8e4;
    margin-bottom: 20px;
}

article img{
    float: left;
    width: 300px;
    margin-right: 30px;
}
.boton{
    background-color: #00b8e4;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/* Sidebar */
aside ul{

    list-style: none;
}

aside ul li{
    padding: 10px 0 10px 10px;
}

aside ul li:hover{
    background-color: #00b8e4;
    cursor: pointer;
}

aside ul li a{
    color: #00b8e4;
    text-decoration: none;
}

aside ul li a:hover{
    color: #ffffff;
}

/* Footer */
footer{
    background-color: #db008d;
    padding-top: 40px;
    margin-top: 30px;
}

footer h2{
    color: #ffffff;
}

footer div.contenedor::after{
    content: '';
    display: block;
    clear: both;
}

footer div.nosotros{
    float: left;
    width: 30%;
    color: #ffffff;
}

footer div.menu{
    float: right;
    width: 40%;
   text-align: right;
}

footer nav{
    width: auto;
}

footer nav ul li  a{
    width: auto;
}

p.derechos{
    padding: 20px 0px;
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: lightseagreen;
    color: white;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=button]:hover {
    background-color: #45a049;
    
}

textarea{
    width: 100%;
}

odal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}